<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/<%=user._id%>/profile"><h1>
        <%=user.name%>
    </h1></a>
    <% for (let i=0; i < notes.length; i++) { %>
        <a href="/<%=user._id%>/<%=notes[i]._id%>">
            <li>
                <%= notes[i].noteTitle %>
            </li>
        </a>
    <% } %>
        <form action="/<%=user._id%>" method="post">
            <input name="title" id="title" type="text" placeholder="Note title...">
            <input type="text" id="content" name="content" placeholder="Note content....">
            <input type="submit" value="Add">
        </form>
</body>

</html>